Repository osl-incubator/rago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, mccabe

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
      # NOTE: This is a total unnecessary check, just used as part of the
      #       template. Remove this after creating the template.
      - id: check-python
        name: check-python
        entry: python --version
        language: system
        pass_filenames: no

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check --fix
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      # - id: vulture
      #   name: vulture
      #   entry: vulture
      #   language: system
      #   files: "src/rago"
      #   description: Find unused Python code.
      #   pass_filenames: true
      #   types:
      #     - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

chore(release): 0.5.1
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

deploy: 565ec05d182dc16e6b12994bc510f67c7f61c61d
  api/augmented/base/index.html
  api/augmented/experimental/gemini/index.html
  api/augmented/experimental/openai/index.html
  api/augmented/hugging_face/index.html
  api/augmented/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/openai/index.html
  api/index.html
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Add OpenAIAug with embeddings
  README.md
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/experimental/gemini.py
  src/rago/augmented/experimental/openai.py
  src/rago/augmented/openai.py
  src/rago/augmented/sentence_transformer.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix issues pointed by mypy
  src/rago/augmented/base.py
  src/rago/augmented/openai.py
  src/rago/augmented/sentence_transformer.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add OpenAIAug with embeddings (#19)
  README.md
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/experimental/gemini.py
  src/rago/augmented/experimental/openai.py
  src/rago/augmented/openai.py
  src/rago/augmented/sentence_transformer.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  ae1a7c8082c407cdb8cc2acdbb7072561c51bd27
Due: none

chore(release): 0.6.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

deploy: 227c5355e4bed091301dd01b13b20b1860f68aa1
  404.html
  api/SUMMARY/index.html
  api/augmented/base/index.html
  api/augmented/experimental/gemini/index.html
  api/augmented/experimental/index.html
  api/augmented/index.html
  api/augmented/openai/index.html
  api/augmented/sentence_transformer/index.html
  api/core/index.html
  api/db/base/index.html
  api/db/faiss/index.html
  api/db/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  api/retrieval/base/index.html
  api/retrieval/index.html
  changelog/index.html
  contributing/index.html
  example/index.html
  index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.7.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  6aee5649cff0f7ac0e3859e9cb4e61a089ea42ad
Due: none

deploy: 6e8075625b08e9a830e68aaa7639c2bb7862b893
  404.html
  api/SUMMARY/index.html
  api/augmented/base/index.html
  api/augmented/experimental/gemini/index.html
  api/augmented/experimental/index.html
  api/augmented/index.html
  api/augmented/openai/index.html
  api/augmented/sentence_transformer/index.html
  api/db/base/index.html
  api/db/faiss/index.html
  api/db/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  api/retrieval/base/index.html
  api/retrieval/file/index.html
  api/retrieval/index.html
  api/retrieval/text_splitter/base/index.html
  api/retrieval/text_splitter/index.html
  api/retrieval/text_splitter/langchain/index.html
  api/retrieval/tools/index.html
  api/retrieval/tools/pdf/index.html
  changelog/index.html
  contributing/index.html
  example/index.html
  index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Remove experimental augmenteds
  src/rago/augmented/base.py
  src/rago/augmented/experimental/__init__.py
  src/rago/augmented/experimental/gemini.py
  tests/test_gemini.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: Remove experimental augmented classes (#21)
  src/rago/augmented/base.py
  src/rago/augmented/experimental/__init__.py
  src/rago/augmented/experimental/gemini.py
  tests/test_gemini.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.7.1
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  2473f7184c0590c8108345aecfbc8dc9f4a57b70
Due: none

deploy: e8780125db3c5966493621eb3e5f2a7713ccc419
  404.html
  api/SUMMARY/index.html
  api/augmented/base/index.html
  api/augmented/experimental/gemini/index.html
  api/augmented/experimental/index.html
  api/augmented/index.html
  api/augmented/openai/index.html
  api/augmented/sentence_transformer/index.html
  api/core/index.html
  api/db/base/index.html
  api/db/faiss/index.html
  api/db/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  api/retrieval/base/index.html
  api/retrieval/file/index.html
  api/retrieval/index.html
  api/retrieval/text_splitter/base/index.html
  api/retrieval/text_splitter/index.html
  api/retrieval/text_splitter/langchain/index.html
  api/retrieval/tools/index.html
  api/retrieval/tools/pdf/index.html
  changelog/index.html
  contributing/index.html
  example/index.html
  index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Add logs for each step in the pipeline
  src/rago/augmented/base.py
  src/rago/augmented/openai.py
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/gemini.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
  src/rago/retrieval/base.py
  src/rago/retrieval/file.py
  tests/test_gemini.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix remain issues
  src/rago/augmented/openai.py
  src/rago/augmented/sentence_transformer.py
  src/rago/generation/gemini.py
  src/rago/generation/llama.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add an attribute for logs to keep more information for all the steps (#22)
  src/rago/augmented/base.py
  src/rago/augmented/openai.py
  src/rago/augmented/sentence_transformer.py
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/gemini.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
  src/rago/retrieval/base.py
  src/rago/retrieval/file.py
  tests/test_gemini.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Add support for Spacy augmented class
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/sentence_transformer.py
  src/rago/augmented/spacy.py
  tests/data/pdf/2407.13797.pdf
  tests/data/pdf/2407.20116.pdf
  tests/test_retrieval_pdf.py
  tests/test_spacy.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix tests
  tests/test_retrieval_pdf.py
Due: ruff-linter, ruff-format, bandit

fix tests
  tests/test_spacy.py
Due: ruff-linter, ruff-format, bandit

feat(aug): Add support for SpaCy augmented class (#23)
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/sentence_transformer.py
  src/rago/augmented/spacy.py
  tests/data/pdf/2407.13797.pdf
  tests/data/pdf/2407.20116.pdf
  tests/test_retrieval_pdf.py
  tests/test_spacy.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.8.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  576811929c18a8f1c1019cbef886fdd03f988f73
Due: none

deploy: 14b4dd53961f7d5990b369bbe1bf7f729acc2060
  404.html
  api/SUMMARY/index.html
  api/augmented/base/index.html
  api/augmented/index.html
  api/augmented/openai/index.html
  api/augmented/sentence_transformer/index.html
  api/augmented/spacy/index.html
  api/core/index.html
  api/db/base/index.html
  api/db/faiss/index.html
  api/db/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  api/retrieval/base/index.html
  api/retrieval/file/index.html
  api/retrieval/index.html
  api/retrieval/text_splitter/base/index.html
  api/retrieval/text_splitter/index.html
  api/retrieval/tools/index.html
  api/retrieval/tools/pdf/index.html
  changelog/index.html
  contributing/index.html
  example/index.html
  index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Rename Spacy to SpaCy
  src/rago/augmented/__init__.py
  src/rago/augmented/spacy.py
  tests/test_retrieval_pdf.py
  tests/test_spacy.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: Rename Spacy to SpaCy (#24)
  src/rago/augmented/__init__.py
  src/rago/augmented/spacy.py
  tests/test_retrieval_pdf.py
  tests/test_spacy.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.8.1
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  b621e5628d00495f1ba3a5d63f5b1eccd4393cbe
Due: none

deploy: d611271b339d52c536da4d9691052e797bf2829d
  api/augmented/index.html
  api/augmented/spacy/index.html
  api/index.html
  changelog/index.html
  objects.inv
  search/search_index.json
Due: none

feat: Add initial support for structured output
  poetry.lock
  pyproject.toml
  src/rago/generation/base.py
  src/rago/generation/gemini.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix gemini
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/gemini.py
  src/rago/generation/openai.py
  tests/models.py
  tests/test_gemini.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add initial support for structured output (#25)
  poetry.lock
  pyproject.toml
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/gemini.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
  tests/models.py
  tests/test_gemini.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.9.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  68242fe63b40815008e53f9baad3a6074a4c0970
Due: none

deploy: 64856e19aa3f69eec20b6a8e81ba86bca8bf93b9
  api/core/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

tests: fix tests to avoid wrong answer
  tests/test_gemini.py
Due: ruff-linter, ruff-format, bandit
