Repository osl-incubator/rago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, mccabe

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
      # NOTE: This is a total unnecessary check, just used as part of the
      #       template. Remove this after creating the template.
      - id: check-python
        name: check-python
        entry: python --version
        language: system
        pass_filenames: no

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check --fix
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      # - id: vulture
      #   name: vulture
      #   entry: vulture
      #   language: system
      #   files: "src/rago"
      #   description: Find unused Python code.
      #   pass_filenames: true
      #   types:
      #     - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

remove for now the support for py3.13
  .github/workflows/main.yaml
Due: none

fix: improve and fix documentation (#36)
  .editorconfig
  .github/workflows/main.yaml
  README.md
  artwork/logo/rago.png
  docs/index.md
  poetry.lock
  pyproject.toml
Due: none

Notes added by 'git notes add'
  b8d335df59b1fcd49734d533f61d1fd2d52c7006
Due: none

chore(release): 0.11.3
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

deploy: 3ab061b7afbe2dd7ba943559d86254a6076fd057
  404.html
  api/SUMMARY/index.html
  api/augmented/base/index.html
  api/augmented/db/base/index.html
  api/augmented/db/faiss/index.html
  api/augmented/db/index.html
  api/augmented/index.html
  api/augmented/openai/index.html
  api/augmented/sentence_transformer/index.html
  api/augmented/spacy/index.html
  api/base/index.html
  api/core/index.html
  api/extensions/base/index.html
  api/extensions/cache/index.html
  api/extensions/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  api/retrieval/base/index.html
  api/retrieval/file/index.html
  api/retrieval/index.html
  api/retrieval/text_splitter/base/index.html
  api/retrieval/text_splitter/index.html
  api/retrieval/text_splitter/langchain/index.html
  api/retrieval/tools/index.html
  api/retrieval/tools/pdf/index.html
  changelog/index.html
  contributing/index.html
  example/index.html
  images/logo.png
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Add support for system message
  README.md
Due: none

feat: Add support for system message in LLM/Gen
  poetry.lock
  pyproject.toml
  src/rago/generation/base.py
  src/rago/generation/gemini.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add support system message (LLM/Gen) (#37)
  README.md
  poetry.lock
  pyproject.toml
  src/rago/generation/base.py
  src/rago/generation/gemini.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  995f70b142bb8dc98b4119ee5e21c3177cb31b7b
Due: none

chore(release): 0.12.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

deploy: eb6e4998bdbc346eab2bd3c9840dba14172cbf3c
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  changelog/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs(contributing): correct the conda `env` command in contributing docs
  docs/contributing.md
Due: none

docs(links): Add OSL's Discord Server Link
  README.md
Due: none

chore(ci): Create separated conda env file for ci
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  conda/dev.yaml
Due: none

add missing file
  conda/ci.yaml
  poetry.lock
  pyproject.toml
Due: none

chore(ci): Create separated conda env file for ci (#45)
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  conda/ci.yaml
  poetry.lock
  pyproject.toml
Due: none

docs(contributing): correct the conda `env` command in contributing docs (#43)
  docs/contributing.md
Due: none

docs(usage) Improve the README for the usage of Rago
  README.md
Due: none

docs(usage): Improve the README for the usage of Rago (#47)
  README.md
Due: none

Add OSL's Discord Server's Principal Linkk
  README.md
Due: none

Remove extra bracket
  README.md
Due: none

docs(usage): Correct the import structure in usage example
  README.md
Due: none

feat(generation): add DeepSeek's `deepseek-ai/deepseek-llm-7b-chat` for generation
  src/rago/generation/__init__.py
  src/rago/generation/deepseek.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Adding support for cohere,fireworks,together and vertex
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/cohere.py
  src/rago/augmented/fireworks.py
  src/rago/augmented/together.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/cohere.py
  src/rago/generation/deepseek.py
  src/rago/generation/fireworks.py
  src/rago/generation/together.py
  src/rago/generation/vertex.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(augmented): add ChromaDB support
  src/rago/augmented/db/__init__.py
  src/rago/augmented/db/base.py
  src/rago/augmented/db/chroma.py
  tests/test_chroma.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

making a few patched
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/fireworks.py
  src/rago/generation/base.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

making a few patches
  src/rago/augmented/cohere.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

docs(links): Add OSL's Discord Server Link (#44)
  README.md
Due: none

Adding support for Fireworks Gen and Aug
  src/rago/augmented/fireworks.py
  src/rago/generation/fireworks.py
  tests/test_fireworks.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Adding support for cohere,together Gen and Aug and tests
  docs/contributing.md
  src/rago/augmented/__init__.py
  src/rago/augmented/cohere.py
  src/rago/generation/cohere.py
  tests/.env.tpl
  tests/test_cohere.py
  tests/test_together.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Adding support for cohere,together Gen and Aug and tests
  pyproject.toml
Due: none

poetry lock
  poetry.lock
Due: none

Revert the import structure to shorten and correct augmented
  README.md
Due: none

Fix contributing doc instructions
  docs/contributing.md
Due: none

feat(augmented): fix and add tests
  src/rago/augmented/db/chroma.py
  tests/test_chroma.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(augmented): add chroma dependencies
  poetry.lock
  pyproject.toml
Due: none

poetry lock
  poetry.lock
  pyproject.toml
Due: none

Adding Firework backend support
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/fireworks.py
  src/rago/generation/__init__.py
  src/rago/generation/fireworks.py
  src/rago/generation/gemini.py
  tests/test_fireworks.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Adding Together backend support
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/together.py
  src/rago/generation/__init__.py
  src/rago/generation/together.py
  tests/test_together.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

docs: Correct import path in README and docs
  README.md
  tests/test_cache.py
  tests/test_gemini.py
  tests/test_language_detect.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, bandit
