Repository osl-incubator/rago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, mccabe

ruff-linter:
  name: ruff-linter
  entry: ruff check --fix
  language: system
  pass_filenames: true
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  pass_filenames: true
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - -iii
  - -lll
  pass_filenames: true

mccabe:
  name: mccabe
  entry: python -m mccabe --min 10
  language: system
  pass_filenames: true

skip test_language_detection on ci
  tests/test_rago_languages.py
Due: ruff-linter, ruff-format, bandit

add back test_hugging_face.py
  tests/test_hugging_face.py
Due: ruff-linter, ruff-format, bandit

add langdetect
  poetry.lock
  pyproject.toml
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/llama3.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix test for language detect
  tests/test_language_detect.py
  tests/test_rago_languages.py
Due: ruff-linter, ruff-format, bandit

fix test for language detect
  tests/test_language_detect.py
Due: ruff-linter, ruff-format, bandit

fix: Fix packaging issues with torch and fix issues with langdetect (#10)
  poetry.lock
  pyproject.toml
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/llama3.py
  tests/test_hugging_face.py
  tests/test_language_detect.py
  tests/test_rago_languages.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

refactor: Refactor llama generation class
  .pre-commit-config.yaml
  README.md
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/llama3.py
  tests/test_llama.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix answer output for llama3 generation
  .pre-commit-config.yaml
  src/rago/generation/llama.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix issues with linter
  .github/workflows/main.yaml
Due: none

refactor: Refactor llama generation class (#11)
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  README.md
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/llama3.py
  tests/test_llama.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: implement OpenAIGPTGen model for GPT-4 text generation
  src/rago/augmented/__init__.py
  src/rago/augmented/openai_aug.py
  src/rago/generation/__init__.py
  src/rago/generation/openai_gpt.py
  tests/test_llama.py
  tests/test_openai_gpt.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore: Rename apikey to api_key
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  tests/test_llama.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(docs): remove unnecessary docstrings
  src/rago/augmented/openai_aug.py
  src/rago/generation/openai_gpt.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore: Minor updates
  src/rago/augmented/openai_aug.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(env): add template for OPENAI_API_KEY and configure GitHub secrets
  .env.tpl
  .github/workflows/main.yaml
Due: none

feat(deps): add OpenAI library to pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

chore(ci): Add skip test
  src/rago/augmented/openai_aug.py
  src/rago/generation/openai_gpt.py
  tests/test_llama.py
  tests/test_openai_gpt.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(model): Integrate GPT-4 text generation in Rago (#13)
  .env.tpl
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/openai_aug.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/openai_gpt.py
  tests/test_llama.py
  tests/test_openai_gpt.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

[200~feat(ml): Add support for Gemini model integration for query augmentation and generation
  src/rago/augmented/__init__.py
  src/rago/augmented/gemini_aug.py
  src/rago/augmented/openai_aug.py
  src/rago/generation/__init__.py
  src/rago/generation/gemini_ai.py
  src/rago/generation/openai_gpt.py
  tests/test_gemini_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(deps): Add Google Generative AI library to pyproject for Gemini model support
  .env.tpl
  poetry.lock
  pyproject.toml
Due: none

feat: Implement Gemini Model Integration for Augmentation and Generation (#16)
  .env.tpl
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/gemini_aug.py
  src/rago/augmented/openai_aug.py
  src/rago/generation/__init__.py
  src/rago/generation/gemini_ai.py
  src/rago/generation/openai_gpt.py
  tests/test_gemini_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

refactor: Refactor bases classes for generation and retrieval
  src/rago/augmented/base.py
  src/rago/augmented/hugging_face.py
  src/rago/augmented/openai_aug.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/openai_gpt.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix teste issues
  .env.tpl
  tests/.env.tpl
Due: none

fix last issues with openai and gemini7
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/gemini.py
  src/rago/augmented/openai.py
  src/rago/generation/__init__.py
  src/rago/generation/gemini.py
  src/rago/generation/gemini_ai.py
  src/rago/generation/openai.py
  tests/.env.tpl
  tests/test_gemini.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix last issues with openai
  src/rago/augmented/openai.py
  src/rago/generation/openai.py
  tests/test_gemini.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

refactor: Refactor bases classes for generation and retrieval (#15)
  .env.tpl
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/gemini.py
  src/rago/augmented/hugging_face.py
  src/rago/augmented/openai.py
  src/rago/augmented/openai_aug.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/gemini.py
  src/rago/generation/gemini_ai.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
  tests/.env.tpl
  tests/test_gemini.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  b9f6befd301a773126cccfabba27e9aba8ed7d86
Due: none

chore(release): 0.4.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

deploy: 2a73121fcf848b1dff8d335f7896f8aebb61b1dd
  404.html
  api/SUMMARY/index.html
  api/augmented/base/index.html
  api/augmented/gemini/index.html
  api/augmented/hugging_face/index.html
  api/augmented/index.html
  api/augmented/openai/index.html
  api/core/index.html
  api/db/base/index.html
  api/db/faiss/index.html
  api/db/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  api/retrieval/base/index.html
  api/retrieval/index.html
  changelog/index.html
  contributing/index.html
  example/index.html
  index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

change from k to top_k
  README.md
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/experimental/__init__.py
  src/rago/augmented/experimental/gemini.py
  src/rago/augmented/experimental/openai.py
  src/rago/augmented/hugging_face.py
  src/rago/db/base.py
  src/rago/db/faiss.py
  tests/test_gemini.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add attribute for storing intermediate results from the pipeline
  src/rago/core.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix results
  src/rago/core.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add attribute for storing intermediate results from the pipeline (#17)
  README.md
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/experimental/__init__.py
  src/rago/augmented/experimental/gemini.py
  src/rago/augmented/experimental/openai.py
  src/rago/augmented/hugging_face.py
  src/rago/core.py
  src/rago/db/base.py
  src/rago/db/faiss.py
  tests/test_gemini.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.5.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  723c2c18db40397631779b380ab50cdd31c6a30d
Due: none

deploy: b00c4aeb102b6947fbe06e964976cd480c60a0b1
  404.html
  api/SUMMARY/index.html
  api/augmented/base/index.html
  api/augmented/experimental/gemini/index.html
  api/augmented/experimental/index.html
  api/augmented/experimental/openai/index.html
  api/augmented/hugging_face/index.html
  api/augmented/index.html
  api/core/index.html
  api/db/base/index.html
  api/db/faiss/index.html
  api/db/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  api/retrieval/base/index.html
  api/retrieval/index.html
  changelog/index.html
  contributing/index.html
  example/index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Remove unnecessary usage of abc.abstractmethod
  src/rago/augmented/base.py
  src/rago/generation/base.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: Remove unnecessary usage of abc.abstractmethod (#18)
  src/rago/augmented/base.py
  src/rago/generation/base.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  be4dc4667a88190adde81015b02bdbc832bbf7d9
Due: none

Path conditions:
  ruff-linter: any of: ./ and \.py$
  ruff-format: any of: ./ and \.py$
  mypy: any of: src/rago and \.py$
  bandit: any of: \.py$
  mccabe: any of: src/rago and \.py$
