Repository osl-incubator/rago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, mccabe

ruff-linter:
  name: ruff-linter
  entry: ruff check
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - -iii
  - -lll
  pass_filenames: true

mccabe:
  name: mccabe
  entry: python -m mccabe --min 10
  language: system
  pass_filenames: true

fix deps
  poetry.lock
  pyproject.toml
Due: none

pin <2.6
  poetry.lock
  pyproject.toml
Due: none

fix numpy
  poetry.lock
  pyproject.toml
Due: none

fix numpy
  pyproject.toml
Due: none

fix numpy
  poetry.lock
Due: none

fix spacy dep
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

fix macos dep
  poetry.lock
  pyproject.toml
Due: none

test torch
  pyproject.toml
Due: none

test torch
  poetry.lock
Due: none

fix(pkg): Add support for MacOS (#75)
  .github/workflows/main.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

chore(release): 0.13.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  a19cb93f97c7b9a79edee5c08847557e09ca10b0
Due: none

fix dependencies
  poetry.lock
  pyproject.toml
Due: none

Updating fireworks files
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/fireworks.py
  src/rago/generation/__init__.py
  src/rago/generation/fireworks.py
  tests/.env.tpl
  tests/conftest.py
  tests/test_augmentation.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add support for fireworks-ai (#74)
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/fireworks.py
  src/rago/generation/__init__.py
  src/rago/generation/fireworks.py
  tests/.env.tpl
  tests/conftest.py
  tests/test_augmentation.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Minor updates to the docs
  docs/contributing.md
Due: none

docs(contributing): Fix minor syntax issue and clarify --no-verify usage (#76)
  docs/contributing.md
Due: none

Adding TogetherGen
  poetry.lock
  pyproject.toml
  src/rago/generation/__init__.py
  src/rago/generation/together.py
  tests/.env.tpl
  tests/conftest.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Adding TogetherGen
  tests/test_generation.py
Due: ruff-linter, ruff-format, bandit

Added optional_imports.py and updated pyproject.toml
  pyproject.toml
  src/rago/optional_imports.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Adding TogetherAug
  src/rago/augmented/__init__.py
  src/rago/augmented/together.py
  tests/test_augmentation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Fixed some minor issues and typos
  tests/conftest.py
  tests/test_ext_cache.py
Due: ruff-linter, ruff-format, bandit

docs: Add information about roadmap
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  CODE_OF_CONDUCT.md
  README.md
Due: none

docs: Add information about roadmap (#81)
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  CODE_OF_CONDUCT.md
  README.md
Due: none

feat(generation): Add NVIDIA Hymba-1.5B-Instruct SLM integration
  src/rago/generation/__init__.py
  src/rago/generation/hymba.py
  tests/test_hymba.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fixed test using typing Optional for py3.9 compatibility
  tests/test_aug_db.py
Due: ruff-linter, ruff-format, bandit

updated pyproject.toml
  pyproject.toml
Due: none

update poetry.lock
  poetry.lock
Due: none

fix typo
  pyproject.toml
Due: none

align with main
  pyproject.toml
Due: none

add chromadb dep
  pyproject.toml
Due: none

tests: Fix some minor issues and typos in test files (#80)
  tests/conftest.py
  tests/test_ext_cache.py
Due: ruff-linter, ruff-format, bandit

feat(generation): add backend support for Together (#79)
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/together.py
  src/rago/generation/__init__.py
  src/rago/generation/together.py
  tests/.env.tpl
  tests/conftest.py
  tests/test_augmentation.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(ci): Add ci workflow for closing stale prs
  .github/workflows/stale.yaml
Due: none

chore(ci): Add ci workflow for closing stale prs (#84)
  .github/workflows/stale.yaml
Due: none

Adding Hugging face Inf gen support
  src/rago/generation/__init__.py
  src/rago/generation/hugging_face_inf.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Adding Hugging face Inf gen support
  src/rago/generation/hugging_face_inf.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Path conditions:
  ruff-linter: any of: ./ and \.py$
  ruff-format: any of: ./ and \.py$
  mypy: any of: src/rago and \.py$
  bandit: any of: \.py$
  mccabe: any of: src/rago and \.py$
