Repository osl-incubator/rago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, mccabe

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
      # NOTE: This is a total unnecessary check, just used as part of the
      #       template. Remove this after creating the template.
      - id: check-python
        name: check-python
        entry: python --version
        language: system
        pass_filenames: no

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check --fix
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      # - id: vulture
      #   name: vulture
      #   entry: vulture
      #   language: system
      #   files: "src/rago"
      #   description: Find unused Python code.
      #   pass_filenames: true
      #   types:
      #     - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

docs(usage): Correct the import structure in usage example (#48)
  README.md
Due: none

Adding Together backend support
  poetry.lock
Due: none

Adding cohere backend support
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/cohere.py
  src/rago/generation/__init__.py
  src/rago/generation/cohere.py
  src/rago/generation/gemini.py
  tests/.env.tpl
  tests/test_cohere.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

add gemini api key inside the ci file
  .github/workflows/main.yaml
  tests/conftest.py
  tests/test_ext_cache.py
  tests/test_generation.py
  tests/test_rago.py
Due: ruff-linter, ruff-format, bandit

wip improve test for generation
  tests/generation/__init__.py
  tests/generation/test_gen_llama.py
Due: ruff-linter, ruff-format, bandit

fix tests
  .makim.yaml
  .pre-commit-config.yaml
  pyproject.toml
  tests/augmented/__init__.py
  tests/augmented/db/__init__.py
  tests/augmented/test_aug_openai.py
  tests/augmented/test_aug_spacy.py
  tests/extensions/__init__.py
  tests/rago/__init__.py
  tests/rago/test_rago_gemini.py
  tests/rago/test_rago_openai.py
  tests/retrieval/__init__.py
  tests/retrieval/text_splitter/__init__.py
  tests/retrieval/tools/__init__.py
  tests/test_augmentation.py
  tests/test_ext_cache.py
  tests/test_generation.py
  tests/test_rago.py
  tests/test_ret_text_splitter.py
  tests/test_ret_tools_pdf.py
Due: ruff-linter, ruff-format, bandit

wip improve test for generation
  tests/conftest.py
  tests/generation/test_gen_gemini.py
  tests/generation/test_gen_hugging_face.py
  tests/generation/test_gen_openai.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, bandit

tests: Organize tests
  tests/augmented/__init__.py
  tests/augmented/db/__init__.py
  tests/augmented/test_aug_openai.py
  tests/augmented/test_aug_spacy.py
  tests/conftest.py
  tests/extensions/__init__.py
  tests/extensions/test_ext_cache.py
  tests/generation/__init__.py
  tests/generation/test_gen_gemini.py
  tests/generation/test_gen_hugging_face.py
  tests/generation/test_gen_llama.py
  tests/generation/test_gen_openai.py
  tests/rago/__init__.py
  tests/rago/test_rago_gemini.py
  tests/rago/test_rago_openai.py
  tests/retrieval/__init__.py
  tests/retrieval/text_splitter/__init__.py
  tests/retrieval/text_splitter/test_ret_text_splitter.py
  tests/retrieval/tools/__init__.py
  tests/retrieval/tools/test_ret_tools_pdf.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, bandit

fix ci
  .github/workflows/main.yaml
Due: none

skip a few tests when testing for pr
  .github/workflows/main.yaml
  tests/test_augmentation.py
  tests/test_ext_cache.py
  tests/test_generation.py
  tests/test_rago.py
Due: ruff-linter, ruff-format, bandit

skip a few tests when testing for pr
  .github/workflows/main.yaml
Due: none

tests: Improve and re-organize tests and CI (#57)
  .github/workflows/main.yaml
  .makim.yaml
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  tests/test_augmentation.py
  tests/test_ext_cache.py
  tests/test_gemini.py
  tests/test_generation.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
  tests/test_rago.py
  tests/test_ret_text_splitter.py
  tests/test_ret_tools_pdf.py
  tests/test_spacy.py
Due: ruff-linter, ruff-format, bandit

adding cohere api key to main.yaml
  .github/workflows/main.yaml
Due: none

fixed pyproject + regenerate poetry.lock
  poetry.lock
  pyproject.toml
Due: none

feat(augmented): add ChromaDB support
  src/rago/augmented/db/__init__.py
  src/rago/augmented/db/base.py
  src/rago/augmented/db/chroma.py
  tests/test_chroma.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(augmented): add chroma dependencies
  poetry.lock
  pyproject.toml
Due: none

feat(augmented): fix and add tests
  src/rago/augmented/db/chroma.py
  tests/test_chroma.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

updating cohere test
  poetry.lock
  tests/conftest.py
  tests/test_augmentation.py
  tests/test_cohere.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, bandit

add test imported from upstream sync
  tests/test_cache.py
  tests/test_gemini.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
  tests/test_retrieval_pdf.py
  tests/test_spacy.py
  tests/test_text_splitter.py
Due: ruff-linter, ruff-format, bandit

regenerate poetry.lock file
  poetry.lock
Due: none

Add DeepSeekGen in the `test_generation.py`
  tests/test_generation.py
Due: ruff-linter, ruff-format, bandit

feat(generation): add backend for DeepSeek's generation class (#49)
  src/rago/generation/__init__.py
  src/rago/generation/deepseek.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Updated Poetry dependencies
  poetry.lock
  src/rago/generation/gemini.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(huggingface): optimize text generation with 4-bit quantization
  src/rago/generation/hugging_face.py
  tests/test_language_detect.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(huggingface): optimize text generation with 4-bit quantization
  tests/test_language_detect.py
Due: ruff-linter, ruff-format, bandit

feat(generation): add backend for Mistral's generation class
  src/rago/generation/__init__.py
  src/rago/generation/mistralaI.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(generation): add backend for Claude's generation class
  src/rago/generation/__init__.py
  src/rago/generation/claude.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(generation): add backend for Claude's generation class
  src/rago/augmented/__init__.py
  src/rago/augmented/claude.py
  tests/conftest.py
  tests/test_augmentation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(generation): add backend for Mistral's generation class
  src/rago/augmented/__init__.py
  src/rago/augmented/mistralai.py
  tests/conftest.py
  tests/test_augmentation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(generation): add backend for Mistral's generation class
  src/rago/augmented/mistral.py
  src/rago/generation/__init__.py
  src/rago/generation/mistral.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Update the parameter to be correct as initialised in `GenerationBase` class
  README.md
Due: none

docs: Update the parameter to be correct as initialised in `GenerationBase` class (#73)
  README.md
Due: none

adapted test to new format
  tests/test_aug_db.py
Due: ruff-linter, ruff-format, bandit

update poetry.lock file
  poetry.lock
Due: none

Making requested changes
  src/rago/augmented/cohere.py
  src/rago/generation/cohere.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add cohere backend support (#62)
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/cohere.py
  src/rago/generation/__init__.py
  src/rago/generation/cohere.py
  src/rago/generation/gemini.py
  tests/.env.tpl
  tests/conftest.py
  tests/test_augmentation.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

removed old test files
  tests/test_cache.py
  tests/test_chroma.py
  tests/test_gemini.py
  tests/test_hugging_face.py
  tests/test_llama.py
  tests/test_openai.py
  tests/test_retrieval_pdf.py
  tests/test_spacy.py
  tests/test_text_splitter.py
Due: ruff-linter, ruff-format, bandit

update poetry.lock and pyproject.toml files
  poetry.lock
  pyproject.toml
Due: none

Add support for macos
  .github/workflows/main.yaml
Due: none
