Repository osl-incubator/rago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, mccabe

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key

  - repo: local
    hooks:
      - id: ruff-linter
        name: ruff-linter
        entry: ruff check
        language: system
        pass_filenames: true
        files: "./"
        types:
          - python

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      # - id: vulture
      #   name: vulture
      #   entry: vulture
      #   language: system
      #   files: "src/rago"
      #   description: Find unused Python code.
      #   pass_filenames: true
      #   types:
      #     - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

feat(generation): add backend support for HuggingFace using inference (#85)
  src/rago/generation/__init__.py
  src/rago/generation/hugging_face_inf.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Adding Groq Backend support
  src/rago/generation/__init__.py
  src/rago/generation/groq.py
  tests/.env.tpl
  tests/conftest.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

new poetry.lock file
  poetry.lock
Due: none

some minor improvements
  tests/conftest.py
  tests/test_ret_text_splitter.py
Due: ruff-linter, ruff-format, bandit

chore: fix typos in docstrings/comments (#89)
  tests/conftest.py
  tests/test_ret_text_splitter.py
Due: ruff-linter, ruff-format, bandit

feat(augmented): add ChromaBD backend support (#54)
  poetry.lock
  pyproject.toml
  src/rago/augmented/db/__init__.py
  src/rago/augmented/db/base.py
  src/rago/augmented/db/chroma.py
  tests/test_aug_db.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(generation): add backend support for Groq (#86)
  src/rago/generation/__init__.py
  src/rago/generation/groq.py
  tests/.env.tpl
  tests/conftest.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Add `microsoft/phi-2` for Text Generation
  src/rago/generation/__init__.py
  src/rago/generation/phi.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add `microsoft/phi-2` for Text Generation (#91)
  src/rago/generation/__init__.py
  src/rago/generation/phi.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat(torch): add optional CUDA support via Poetry sources and extras
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  poetry.lock
  pyproject.toml
  src/rago/augmented/cohere.py
  src/rago/generation/gemini.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore: Add support for Windows
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
Due: none

install some deps with pip for windows
  .github/workflows/main.yaml
Due: none

install some deps with pip for windows
  .github/workflows/main.yaml
  conda/ci.yaml
  conda/dev.yaml
Due: none

install some deps with pip for windows
  conda/ci-win.yaml
  conda/dev-win.yaml
Due: none

fix db chroma test
  tests/test_aug_db.py
Due: ruff-linter, ruff-format, bandit

skip chroma test on windows
  .github/workflows/main.yaml
  tests/test_aug_db.py
Due: ruff-linter, ruff-format, bandit

rename linter job
  .github/workflows/main.yaml
Due: none

change linter from python 3.9 to 3.10
  .github/workflows/main.yaml
Due: none

fix issue pointed by mypy
  src/rago/augmented/sentence_transformer.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore: Add support for Windows (#94)
  .github/workflows/main.yaml
  conda/ci-win.yaml
  conda/dev-win.yaml
  poetry.lock
  pyproject.toml
  src/rago/augmented/sentence_transformer.py
  tests/test_aug_db.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: implement vLLM integration and Declarative API for Rago
  README_with_vllm_update.py
  examples/declarative_api_example.py
  examples/vllm_examples.py
  pyproject.toml
  src/rago/__init__.py
  src/rago/components.py
  src/rago/core.py
  src/rago/generation/__init__.py
  src/rago/generation/vllm.py
  tests/test_declarative_api.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add Ollama
  .github/workflows/main.yaml
  README.md
  conda/ci-win.yaml
  conda/ci.yaml
  conda/dev-win.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/rago/base.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/cohere.py
  src/rago/generation/deepseek.py
  src/rago/generation/fireworks.py
  src/rago/generation/groq.py
  src/rago/generation/hugging_face_inf.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
  src/rago/generation/phi.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

update pyproject deps
  poetry.lock
  pyproject.toml
Due: none

set keys to nokey
  .github/workflows/main.yaml
Due: none

run ollama
  .github/workflows/main.yaml
Due: none

swap order of ollama commands
  .github/workflows/main.yaml
Due: none

fix test
  tests/test_generation.py
Due: ruff-linter, ruff-format, bandit

setting OLLAMA_LLM_LIBRARY to cpu
  .github/workflows/main.yaml
Due: none

split ollama installation between linux/windows and macos
  .github/workflows/main.yaml
Due: none

fix issues pointed by the linter
  src/rago/generation/together.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

add cache on ci
  .github/workflows/main.yaml
Due: none

check ollama installation
  .github/workflows/main.yaml
Due: none

fix ollama command
  .github/workflows/main.yaml
Due: none

test a different model
  .github/workflows/main.yaml
Due: none

improve conda files and ci
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  conda/ci-macos.yaml
  conda/ci-ubuntu.yaml
  conda/ci-windows.yaml
Due: none

skip tests for macos
  .github/workflows/main.yaml
  tests/test_generation.py
Due: ruff-linter, ruff-format, bandit
