Repository osl-incubator/rago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, mccabe

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key

  - repo: local
    hooks:
      - id: ruff-linter
        name: ruff-linter
        entry: ruff check
        language: system
        pass_filenames: true
        files: "./"
        types:
          - python

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      # - id: vulture
      #   name: vulture
      #   entry: vulture
      #   language: system
      #   files: "src/rago"
      #   description: Find unused Python code.
      #   pass_filenames: true
      #   types:
      #     - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

Notes added by 'git notes add'
  9692363d1da9180887f74996bbb4a1f7ce35fb02
Due: none

chore(release): 0.14.4
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Fix typos: Hugging Face, Llama, fastest animal
  README.md
Due: none

Fix additional typos and restore original formatting
  README.md
Due: none

Fix huggingface typos (#104)
  README.md
Due: none

add vscode to gitignore
  .github/workflows/reviewer-pr.yaml
  .gitignore
Due: none

fix issues
  README.md
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/cohere.py
  src/rago/augmented/fireworks.py
  src/rago/augmented/openai.py
  src/rago/augmented/spacy.py
  src/rago/augmented/together.py
  src/rago/base.py
  src/rago/extensions/cache.py
  src/rago/generation/__init__.py
  src/rago/retrieval/__init__.py
  src/rago/retrieval/base.py
  src/rago/retrieval/file.py
  tests/test_augmentation.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

refactor: Refactor API
  pyproject.toml
  src/rago/__init__.py
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/cohere.py
  src/rago/augmented/fireworks.py
  src/rago/augmented/openai.py
  src/rago/augmented/sentence_transformer.py
  src/rago/augmented/spacy.py
  src/rago/augmented/together.py
  src/rago/base.py
  src/rago/core.py
  src/rago/extensions/cache.py
  src/rago/extensions/logs.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/cohere.py
  src/rago/generation/deepseek.py
  src/rago/generation/fireworks.py
  src/rago/generation/gemini.py
  src/rago/generation/groq.py
  src/rago/generation/hugging_face.py
  src/rago/generation/hugging_face_inf.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
  src/rago/generation/phi.py
  src/rago/generation/together.py
  src/rago/io.py
  src/rago/retrieval/__init__.py
  src/rago/retrieval/base.py
  src/rago/retrieval/dummy.py
  src/rago/retrieval/file.py
  tests/test_generation.py
  tests/test_rago.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

wip: fix internal issues
  .github/workflows/reviewer-pr.yaml
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/base.py
  src/rago/core.py
  src/rago/extensions/cache.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/retrieval/__init__.py
  src/rago/retrieval/base.py
  tests/test_augmentation.py
  tests/test_ext_cache.py
  tests/test_rago.py
  tests/test_ret_tools_pdf.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

refactor: Refactor the API
  README.md
  src/rago/__init__.py
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/cohere.py
  src/rago/augmented/fireworks.py
  src/rago/augmented/openai.py
  src/rago/augmented/spacy.py
  src/rago/augmented/together.py
  src/rago/base.py
  src/rago/config.py
  src/rago/core.py
  src/rago/extensions/__init__.py
  src/rago/extensions/cache.py
  src/rago/extensions/logs.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/cohere.py
  src/rago/generation/fireworks.py
  src/rago/generation/gemini.py
  src/rago/generation/groq.py
  src/rago/generation/hugging_face.py
  src/rago/generation/hugging_face_inf.py
  src/rago/generation/llama.py
  src/rago/generation/openai.py
  src/rago/generation/together.py
  src/rago/io.py
  src/rago/retrieval/__init__.py
  src/rago/retrieval/base.py
  src/rago/retrieval/dummy.py
  src/rago/retrieval/file.py
  tests/test_aug_db.py
  tests/test_augmentation.py
  tests/test_ext_cache.py
  tests/test_generation.py
  tests/test_rago.py
  tests/test_ret_tools_pdf.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

refactor: Refactor the API
  tests/helpers.py
Due: ruff-linter, ruff-format, bandit

remove reviewer ai
  .github/workflows/reviewer-pr.yaml
Due: none

fix typing
  .github/workflows/main.yaml
  src/rago/base.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: deps
  pyproject.toml
  src/rago/retrieval/text_splitter/langchain.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix issues from tests
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/base.py
  src/rago/extensions/logs.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/retrieval/__init__.py
  src/rago/retrieval/base.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix issues from tests
  tests/test_logs.py
Due: ruff-linter, ruff-format, bandit

remove support for python 3.14 for now
  .github/workflows/main.yaml
Due: none

fix ollama
  src/rago/generation/llama.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix ollama
  tests/test_generation_ollama.py
Due: ruff-linter, ruff-format, bandit

fix issues with linting
  src/rago/augmented/cohere.py
  src/rago/augmented/fireworks.py
  src/rago/augmented/openai.py
  src/rago/augmented/sentence_transformer.py
  src/rago/augmented/spacy.py
  src/rago/augmented/together.py
  src/rago/retrieval/text_splitter/langchain.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: Fix tests
  .github/workflows/main.yaml
  tests/conftest.py
  tests/helpers.py
  tests/test_augmentation.py
  tests/test_ext_cache.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, bandit

fix: Fix tests (#106)
  .github/workflows/main.yaml
  tests/conftest.py
  tests/helpers.py
  tests/test_augmentation.py
  tests/test_ext_cache.py
  tests/test_generation.py
Due: ruff-linter, ruff-format, bandit

chore(release): 0.14.5
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  285af7dc49e7e9b62e03fd3e0e0a9645192e908a
Due: none

deploy: c9f95d566d773887d6668566b3d85972a83bbce8
  api/index.html
  changelog/index.html
  search/search_index.json
Due: none

feat: add image OCR retrieval
  pyproject.toml
  src/rago/retrieval/__init__.py
  src/rago/retrieval/file.py
  src/rago/retrieval/tools/ocr.py
  tests/data/ocr/test.png
  tests/test_ret_tools_ocr.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: satisfy mypy for OCR output
  src/rago/retrieval/tools/ocr.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: resolve mypy errors in OCR and generation
  src/rago/augmented/cohere.py
  src/rago/generation/gemini.py
  src/rago/retrieval/tools/ocr.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: handle Cohere embedding response types
  src/rago/augmented/cohere.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Fix missing newline in docs index
  docs/index.md
Due: none

fix: run mypy hook as single whole-package invocation
  .pre-commit-config.yaml
Due: none

fix: run mypy as single whole-package invocation; fix undefined genai reference in GeminiGen
  .pre-commit-config.yaml
  src/rago/generation/gemini.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: restore docs index symlink
  docs/index.md
Due: none

fix: install ollama correctly on ubuntu ci
  .github/workflows/main.yaml
  conda/ci-ubuntu.yaml
Due: none

feat: add audio transcription retrieval
  pyproject.toml
  src/rago/retrieval/__init__.py
  src/rago/retrieval/file.py
  src/rago/retrieval/tools/audio.py
  tests/data/audio/test.wav
  tests/test_ret_tools_audio.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: install ollama correctly on windows ci
  .github/workflows/main.yaml
Due: none
