Repository osl-incubator/rago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, mccabe

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
      # NOTE: This is a total unnecessary check, just used as part of the
      #       template. Remove this after creating the template.
      - id: check-python
        name: check-python
        entry: python --version
        language: system
        pass_filenames: no

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check --fix
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      # - id: vulture
      #   name: vulture
      #   entry: vulture
      #   language: system
      #   files: "src/rago"
      #   description: Find unused Python code.
      #   pass_filenames: true
      #   types:
      #     - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

tests: fix tests to avoid wrong answer (#26)
  tests/test_gemini.py
Due: ruff-linter, ruff-format, bandit

refactor: Move db package to augmented package
  src/rago/augmented/base.py
  src/rago/augmented/db/__init__.py
  src/rago/augmented/db/base.py
  src/rago/augmented/db/faiss.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

refactor: Move db package to augmented package (#27)
  src/rago/augmented/base.py
  src/rago/augmented/db/__init__.py
  src/rago/augmented/db/base.py
  src/rago/augmented/db/faiss.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(poetry): Update poetry to v2
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

chore(poetry): Update poetry to v2
  poetry.lock
  pyproject.toml
  src/rago/generation/base.py
  src/rago/retrieval/__init__.py
  src/rago/retrieval/text_splitter/__init__.py
  tests/test_gemini.py
  tests/test_language_detect.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix linter
  src/rago/__init__.py
  src/rago/generation/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(poetry): Update poetry to v2 (#28)
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/rago/__init__.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/retrieval/__init__.py
  src/rago/retrieval/text_splitter/__init__.py
  tests/test_gemini.py
  tests/test_language_detect.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add cache feature
  src/rago/augmented/base.py
  src/rago/base.py
  src/rago/generation/base.py
  src/rago/retrieval/base.py
  src/rago/tools/__init__.py
  src/rago/tools/cache.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix tests
  poetry.lock
  pyproject.toml
  src/rago/augmented/base.py
  src/rago/augmented/openai.py
  src/rago/augmented/sentence_transformer.py
  src/rago/augmented/spacy.py
  src/rago/base.py
  src/rago/extensions/__init__.py
  src/rago/extensions/cache.py
  src/rago/generation/base.py
  src/rago/retrieval/base.py
  src/rago/retrieval/file.py
  src/rago/tools/cache.py
  tests/data/pdf/1.pdf.pkl
  tests/test_cache.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix tests
  src/rago/extensions/base.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add support for caching (#29)
  poetry.lock
  pyproject.toml
  src/rago/augmented/base.py
  src/rago/augmented/openai.py
  src/rago/augmented/sentence_transformer.py
  src/rago/augmented/spacy.py
  src/rago/base.py
  src/rago/extensions/__init__.py
  src/rago/extensions/base.py
  src/rago/extensions/cache.py
  src/rago/generation/base.py
  src/rago/retrieval/base.py
  src/rago/retrieval/file.py
  tests/data/pdf/1.pdf.pkl
  tests/test_cache.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.10.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  20a595bc167eb58d204eff89a7575ea7755169d5
Due: none

fix: Fix caching
  src/rago/augmented/openai.py
  src/rago/augmented/spacy.py
  src/rago/retrieval/file.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: Fix caching (#30)
  src/rago/augmented/openai.py
  src/rago/augmented/spacy.py
  src/rago/retrieval/file.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.10.1
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  a1dc1fc5c60932095f5bfa951b4e939c6fc8df36
Due: none

deploy: 1ed642c5c650899c919602e89c4663052ce5e85e
  api/augmented/index.html
  api/augmented/openai/index.html
  api/augmented/spacy/index.html
  api/index.html
  api/retrieval/file/index.html
  api/retrieval/index.html
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fx: Fix undesired weekref logs attribute
  .gitignore
  conda/dev.yaml
  src/rago/augmented/base.py
  src/rago/generation/base.py
  src/rago/retrieval/base.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fx: Fix undesired weekref logs attribute (#31)
  .gitignore
  conda/dev.yaml
  src/rago/augmented/base.py
  src/rago/generation/base.py
  src/rago/retrieval/base.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

deploy: acd77b1f7f7d3938ae0ced4b22b94f22e2f9de89
  api/augmented/base/index.html
  api/augmented/index.html
  api/augmented/openai/index.html
  api/augmented/sentence_transformer/index.html
  api/augmented/spacy/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/retrieval/base/index.html
  api/retrieval/file/index.html
  api/retrieval/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Add support for extra parameters for RAG generation
  src/rago/generation/base.py
  src/rago/generation/openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

feat: Add support for extra parameters for RAG generation (#32)
  src/rago/generation/base.py
  src/rago/generation/openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.11.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  3978d211630c7533813af3473864a2183632af63
Due: none

deploy: e7a57c18194b9d5303a550425bb2e8c4d21fb7b5
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  changelog/index.html
  search/search_index.json
Due: none

fix tests
  src/rago/augmented/base.py
  src/rago/generation/base.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: Fix default values (#33)
  src/rago/augmented/base.py
  src/rago/generation/base.py
  tests/test_openai.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.11.1
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  8866bb5b3357b56cfb8df905e9597ac0367451e7
Due: none

deploy: bb9b8692c6a79ec263644ee1efbc7465e0e693e3
  api/augmented/base/index.html
  api/augmented/index.html
  api/augmented/openai/index.html
  api/augmented/sentence_transformer/index.html
  api/augmented/spacy/index.html
  api/generation/base/index.html
  api/generation/gemini/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama/index.html
  api/generation/openai/index.html
  api/index.html
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Fix get_embedding in the augmented classes
  poetry.lock
  pyproject.toml
  src/rago/augmented/base.py
  src/rago/augmented/openai.py
  src/rago/augmented/spacy.py
  tests/test_openai.py
  tests/test_spacy.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix linter
  src/rago/generation/gemini.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

fix: Fix get_embedding in the augmented classes (#34)
  poetry.lock
  pyproject.toml
  src/rago/augmented/base.py
  src/rago/augmented/openai.py
  src/rago/augmented/spacy.py
  src/rago/generation/gemini.py
  tests/test_openai.py
  tests/test_spacy.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

chore(release): 0.11.2
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, mccabe

Notes added by 'git notes add'
  3ce6654342305fadce5284d5e75b30f12b60474c
Due: none

fix: improve and fix documentation
  .editorconfig
  .github/workflows/main.yaml
  README.md
  artwork/logo/rago.png
  docs/index.md
  pyproject.toml
Due: none

update poetry lock
  poetry.lock
Due: none
