Repository osl-incubator/rago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
      # NOTE: This is a total unnecessary check, just used as part of the
      #       template. Remove this after creating the template.
      - id: check-python
        name: check-python
        entry: python --version
        language: system
        pass_filenames: no

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check --fix
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        files: "src/rago"
        description: Find unused Python code.
        pass_filenames: true
        types:
          - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/rago"
        pass_filenames: true
        types:
          - python

send initial code
  .editorconfig
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/rago/__init__.py
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/hugging_face.py
  src/rago/core.py
  src/rago/db/__init__.py
  src/rago/db/base
  src/rago/db/faiss.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/rago.py
  src/rago/results.py
  src/rago/retrieval/__init__.py
  src/rago/retrieval/base.py
  tests/test_generic.py
  tests/test_hugging_face.py
  tests/test_main.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

fix initial structure
  .makim.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/rago/augmented/__init__.py
  src/rago/augmented/base.py
  src/rago/augmented/hugging_face.py
  src/rago/core.py
  src/rago/db/base
  src/rago/db/base.py
  src/rago/db/faiss.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/retrieval/__init__.py
  src/rago/retrieval/base.py
  tests/data/animals.txt
  tests/test_generic.py
  tests/test_hugging_face.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

feat: Add support for llama 3.2 generation
  .makim.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
  src/rago/results.py
  tests/.env.tpl
  tests/conftest.py
  tests/test_llama3.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

skip llama test on ci
  .github/workflows/main.yaml
  .makim.yaml
  pyproject.toml
  tests/test_llama3.py
Due: ruff-linter, ruff-format, bandit

create the .env for development
  .github/workflows/main.yaml
Due: none

fix docstring
  src/rago/db/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

fix release workflow
  .github/workflows/release.yaml
Due: none

fix usage of python version on ci
  .github/workflows/release.yaml
  conda/dev.yaml
Due: none

remove support for macos
  .github/workflows/main.yaml
Due: none

feat: Add support for llama 3.2 generation (#2)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  README.md
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/rago/db/__init__.py
  src/rago/generation/__init__.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
  src/rago/results.py
  tests/.env.tpl
  tests/conftest.py
  tests/test_llama3.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

fix: fix the semantic release workflow
  .releaserc.json
Due: none

fix: fix the semantic release workflow (#3)
  .releaserc.json
Due: none

chore(release): 0.2.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  45683fc06c32ebbc17fd88a4fc9aedee4cc4b1d8
Due: none

feat: Implement type checking with typeguard
  poetry.lock
  pyproject.toml
  src/rago/augmented/base.py
  src/rago/augmented/hugging_face.py
  src/rago/core.py
  src/rago/db/base.py
  src/rago/db/faiss.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

feat: Implement type checking with typeguard (#4)
  poetry.lock
  pyproject.toml
  src/rago/augmented/base.py
  src/rago/augmented/hugging_face.py
  src/rago/core.py
  src/rago/db/base.py
  src/rago/db/faiss.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

fix: Improve the usage of typeguard
  src/rago/augmented/base.py
  src/rago/augmented/hugging_face.py
  src/rago/db/base.py
  src/rago/db/faiss.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
  src/rago/retrieval/base.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

add missing typechecked
  src/rago/retrieval/base.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

fix: Improve the usage of typeguard (#5)
  src/rago/augmented/base.py
  src/rago/augmented/hugging_face.py
  src/rago/db/base.py
  src/rago/db/faiss.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
  src/rago/retrieval/base.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

[200~refactor: make Hugging Face and model device selection optional, defaulting to CUDA
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
  tests/test_llama3.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

chore: Fix required typeannotation
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
  src/rago/retrieval/base.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

Minor changes
  src/rago/core.py
  src/rago/generation/hugging_face.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

chore: Change default model process
  src/rago/generation/hugging_face.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

feat: Add parameter for selecting device (cpu and gpu) (#6)
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
  src/rago/retrieval/base.py
  tests/test_llama3.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

fix: Fix packaging for gpu and cpu
  poetry.lock
  pyproject.toml
Due: none

update readme
  README.md
Due: none

fix: Fix packaging for gpu and cpu (#8)
  README.md
  poetry.lock
  pyproject.toml
Due: none

Notes added by 'git notes add'
  eede0d21e8c231432aaca73817219b9a77fd2560
Due: none

chore(release): 0.3.0
  docs/changelog.md
  pyproject.toml
  src/rago/__init__.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

refactor(core): enhance language handling in prompt pipeline
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/llama3.py
  tests/data/animals_en.txt
  tests/data/animals_fr.txt
  tests/test_hugging_face.py
  tests/test_rago_languages.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

chore: Fix typos
  src/rago/core.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

feat(deps): Add tokenizers and langdetec libs in conda env
  conda/dev.yaml
  poetry.lock
Due: none

chore(ci): add HF token to CI workflow for authentication
  .github/workflows/main.yaml
  tests/test_rago_languages.py
Due: ruff-linter, ruff-format, bandit

refactor(core): enhance language handling in prompt pipeline (#9)
  .github/workflows/main.yaml
  conda/dev.yaml
  poetry.lock
  src/rago/core.py
  src/rago/generation/base.py
  src/rago/generation/hugging_face.py
  src/rago/generation/llama3.py
  tests/data/animals_en.txt
  tests/data/animals_fr.txt
  tests/test_hugging_face.py
  tests/test_rago_languages.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture, mccabe

deploy: f0e439f27cfc7f0340ad4fb4e1f77ec93b6fe736
  api/augmented/base/index.html
  api/augmented/hugging_face/index.html
  api/augmented/index.html
  api/core/index.html
  api/db/base/index.html
  api/db/faiss/index.html
  api/db/index.html
  api/generation/base/index.html
  api/generation/hugging_face/index.html
  api/generation/index.html
  api/generation/llama3/index.html
  api/index.html
  api/retrieval/base/index.html
  api/retrieval/index.html
  changelog/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Fix packaging with torch
  pyproject.toml
Due: none

update poetry.lock
  poetry.lock
Due: none
